<main>
    <div class="post_image">
        <img src="{{post_image}}">
    </div>
    <div class="main_conteiner">
        <div class="header">
            <div class="data">{{data}}</div>
            <div class="bookmark">{{bookmark}}</div>
            <h2 class="header__name">{{header__name}}</h2>
            <div class="header__divider"></div>
        </div>
        <div class="subtitle">{{subtitle}}</div>
        <div class="post">{{post}}</div>
        <div class="post_footer">
            <div class="post_footer_button">
                <button class="post_button">
                    <span>READ MORE</span>
                </button>
            </div>
            <div class="hashtag">
                {{#each hashtag_link}}
                    <a class="hashtag_link" href="">{{this}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</main>